#main_section{	
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	width: 790px;
	height: 450px;
	background-color: transparent;
	overflow: auto;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 5px 5px 15px #A0A0A0;
	-moz-box-shadow: 5px 5px 15px #A0A0A0;
	-webkit-box-shadow: 5px 5px 15px #A0A0A0;
}
label{
	display: block;
	text-align: right;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	width: 300px;
	line-height: 25px;
	font-size: 35px;
	color: #FFA000;
	text-shadow: 1px 1px 3px #080808;
}
#userinfo{
	text-align: center;
	margin: 0 auto;
}

