label{	
	display: block;
	float: center;
	font-weight: bold;
	margin-right: 10px;
	text-align: left;
	width: 120px;
	line-height: 25px;
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 3px #080808;
}
#vid{
	float: center;
	font-weight: bold;
	margin-right: 10px;
	text-align: left;
	width: 120px;
	line-height: 25px;
	font-size: 25px;
	color: white;
	text-shadow: 1px 1px 3px #080808;
}